* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.header {
  /* self align */
  height: 64px;
  /* self style */
  background: linear-gradient(95.14deg, #17B57A 0%, #6A68D5 100%);
  color: white;
  /* content align */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  /* self align */
  margin-left: 20px;
}

.content {
  /* self align */
  height: calc(100vh - 64px);
  /* self style */
  background-color: black;
  color: white;
  /* content align */
  padding: 20px;
}

.sidebar {
  /* self align */
  display: inline-block;
  height: 100%;
  width: 240px;
  /* self style */
  background-color: #d9d9d9;
  color: black;
  border-radius: 10px;
  border: 2px solid #9c9c9c;
  /* content align */
  padding: 10px;
}